body {
    background: linear-gradient(90deg, rgb(36, 111, 124), rgb(115, 30, 149));
    color: white;
}

.firstColumnCont{
    position: relative;
    margin: auto;
    width: 240px;
    top: 130px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.firstColumnCont::after, .firstColumnCont::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: 0;
    right: 0;
    left: -5px;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 6px;
    border-radius: inherit;
    background: linear-gradient(to bottom, rgba(14, 209, 147, 0.545), rgba(192, 163, 17, 0.47));
}
.firstColumnCont::before {
    filter: blur(8px);
}

.firstColumnCont label {
    font-weight: bold;
    margin-bottom: 5px;
}

.firstColumnCont input {
    width: 200px;
    border: 2px solid chocolate;
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 3px;
}

.firstColumnCont div {
    margin-bottom: 13px;
}

#maintext {
    text-align: center;
}

#submit {
    position: relative;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all .2s ease-in-out;
}

#submit:hover {
    color: white;
    background-color: black;
}

.secondFormCont {
    position: relative;
    margin: auto;
    top: 230px;
    width: 240px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.secondFormCont div {
    margin-bottom: 13px;
    
}

#maintext2 {
    text-align: center;
}
