body {
    background: linear-gradient(90deg, rgb(36, 111, 124) 45%, rgb(115, 30, 149)85%);
    color: white;
}

.firstColumnCont {
    position: relative;
    margin: auto;
    width: 400px;
    height: 450px;
    top: 130px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.firstColumnCont label {
    font-weight: bold;
    margin-bottom: 5px;
}

.firstColumnCont input {
    width: 200px;
    border: 2px solid chocolate;
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.firstColumnCont div {
    margin-top: 50px;
    margin-bottom: 63px;
    font-size: 20px;
    text-align: center;
}

#maintext {
    text-align: center;
}

#submit {
    position: relative;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all .2s ease-in-out;
}

#submit:hover {
    color: white;
    background-color: rgb(193, 137, 7);
}

.secondFormCont {
    position: relative;
    margin: auto;
    top: 230px;
    width: 400px;
    height: 550px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.secondFormCont div {
    margin-bottom: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 3px
}

.secondFormCont .csop {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.secondFormCont .box {
    font-size: 20px;
    text-align: center;
}

.secondFormCont h3, .secondFormCont h2 {
    text-align: center;
    padding: 8px;
}

#maintext2 {
    text-align: center;
    padding: 5px;
}

.thirdFormCont {
    position: relative;
    margin: auto;
    top: 340px;
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}