body {
    background: linear-gradient(90deg, rgb(36, 111, 124) 45%, rgb(115, 30, 149)85%);
    color: white;
}

.firstColumnCont{
    position: relative;
    margin: auto;
    width: 240px;
    top: 130px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.firstColumnCont label {
    font-weight: bold;
    margin-bottom: 5px;
}

.firstColumnCont input {
    width: 200px;
    border: 2px solid chocolate;
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.firstColumnCont div {
    margin-bottom: 13px;
}

#maintext {
    text-align: center;
}

#submit {
    position: relative;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all .2s ease-in-out;
}

#submit:hover {
    color: white;
    background-color: rgb(193, 137, 7);
}

.secondFormCont {
    position: relative;
    margin: auto;
    top: 230px;
    width: 240px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.secondFormCont div {
    margin-bottom: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 3px
}

.secondFormCont csop {
    cursor: pointer;
}

.secondFormCont h3 {
    text-align: center;
}

#maintext2 {
    text-align: center;
    padding: 5px;
}
